@model htcustomer.service.ViewModel.Transaction.TransactionHomeViewModel

<div class="list-group-item" id="transaction-detail-@Model.TransactionID">
    <div class="panel">
        <div class="panel-heading">
            <div class="col-md-8">
                <div class="device-title">@Model.Category.Name</div>                
                @Html.ActionLink(Model.Customer.Name, "Index", "Contact", new { customerID = Model.Customer.CustomerID }, new { @class= "device-title" })                
                <div>@Model.Customer.Phone</div>
                <hr />
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-sm btn-danger btn-deliver-transaction" data-id="@Model.TransactionID" data-url="@Url.Action("DeliverTransaction","Device",new { transactionId=Model.TransactionID})"><i class="fa fa-send"></i></button>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-2"><i class="fa fa-bug"></i></div>
                <div class="col-md-10">
                    @Model.Error
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2"><i class="fa fa-sticky-note"></i></div>
                <div class="col-md-10">
                    @Model.DeviceDescription
                </div>
            </div>
        </div>
    </div>           
</div>

