@model htcustomer.service.ViewModel.Transaction.TransactionHomeViewModel

<div class="list-group-item" data-reload-url="@Url.Action("GetTransactionPartial","Home")">
    <div class="panel">
        <div class="panel-heading">
            <div class="col-md-8">
                <div class="device-title">@Model.Category.Name</div>
                <div class="device-title">@Model.Customer.Name</div>
                <div>@Model.Customer.Phone</div>                
                <hr />
            </div>
            
            <div class="col-md-4 text-right">
                <button class="btn btn-sm btn-success" data-transaction-action="fix" data-toggle="popover" data-transaction-id="@Model.TransactionID" data-url=@Url.Action("GetBillForm", "Device")>
                    <i class="fa fa-check"></i>
                </button>
                <button class="btn btn-sm btn-danger" data-transaction-action="cannot-fix" data-toggle="popover" data-transaction-id="@Model.TransactionID" data-url=@Url.Action("GetReasonForm", "Device")>
                    <i class="fa fa-stop"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-2"><i class="fa fa-bug"></i></div>
                <div class="col-md-10">
                    @Model.Error
                </div>                                
            </div>
            <div class="col-md-12">
                <div class="col-md-2"><i class="fa fa-sticky-note"></i></div>                
                <div class="col-md-10">
                    @Model.DeviceDescription
                </div>                
            </div>
        </div>
    </div>
</div>

