@model htcustomer.service.ViewModel.Transaction.TransactionListHomeViewModel
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@Styles.Render("~/Content/css/home")

<div class="container demo">
    <!-- Modal -->
    <div class="modal right fade" id="add-transaction-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Device</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 10px;">
                    <input type="hidden" value="" id="reload-category-id" />
                    <!-- New Transaction Form-->
                    @Html.Action("InitTransaction", "Home")
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div><!-- container -->
<div>
    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-transaction-modal" id="add-transaction-btn">
        <i class="fa fa-plus"></i> &nbsp; New Device
    </button>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        @Html.Partial("_NotFixColumn", Model.NotFixTransactions);
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        @Html.Partial("_FixedColumn", Model.FixedTransactions)
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        @Html.Partial("_CannotFixColumn", Model.CannotFixTransactions)
    </div>
</div>

@section scripts {
    <script src="~/Scripts/MyScript/homescript.js"></script>
    <script src="~/Scripts/MyScript/deliverscript.js"></script>
}
