@model htcustomer.service.ViewModel.Transaction.TransactionListHomeViewModel
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<style>
    #customer-id {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
    }

    #project-icon {
        float: left;
        height: 32px;
        width: 32px;
    }

    #customer-phone {
        margin: 0;
        padding: 0;
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
    /*******************************
    * MODAL AS LEFT/RIGHT SIDEBAR
    * Add "left" or "right" in modal parent div, after class="modal".
    * Get free snippets on bootpen.com
    *******************************/
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }
    /*  UI Autocomplete */
    .ui-autocomplete-input {
        border: none;
        font-size: 14px;
        width: 300px;
        height: 24px;
        margin-bottom: 5px;
        padding-top: 2px;
        border: 1px solid #DDD !important;
        padding-top: 0px !important;
        z-index: 1511;
        position: relative;
    }

    .ui-menu .ui-menu-item a {
        font-size: 12px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1510 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    #modalIns {
        width: 500px;
    }
</style>
<div class="container demo">    
    <!-- Customer Modal -->
    <div class="modal left fade" id="add-customer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Customer</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="email" class="form-control" id="name" placeholder="Customer Name">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- End Customer Modal -->
    <!-- Modal -->
    <div class="modal right fade" id="add-device-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Device</h4>
                </div>

                <div class="modal-body" style="padding-bottom: 10px;">
                    <form class="inform">
                        <div class="form-group">
                            <label for="customer">Customer</label>
                            <input class="form-control" id="customer" style="max-width: none;">
                            <p id="not-found-search"></p>
                            <button id="add-customer-btn" class="btn icon-btn btn-success" onclick="openNewCustomerModal()" style="display:none;">
                                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>New Customer
                            </button>
                        </div>
                    </form>
                    <hr />
                    <form>
                        <div class="form-group">
                            <input type="hidden" id="customerId" />
                            <label for="device">Device</label>
                            <select class="form-control" id="device">
                                <option>Laptop</option>
                                <option>Printer</option>
                                <option>Fan</option>
                                <option>Air-conditon</option>
                                <option>Item 5</option>
                                <option>Item 6</option>
                                <option>Item 7</option>
                                <option>Item 8</option>
                                <option>Item 9</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phone">Problem</label>
                            <input type="text" class="form-control" id="phone" placeholder="Problem">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="input" class="form-control" id="description" placeholder="Description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea type="text" class="form-control" id="note" placeholder="Note" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div><!-- container -->
<div class="row">
    <button class="btn icon-btn btn-success right" data-toggle="modal" data-target="#add-device-modal" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add Device</button>    
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 ">
        <h3>@Html.ActionLink("Not Fix", "Index", "Device", new { statusId = 0 }, null) <span>(23)</span></h3>
        <div class="table table-condensed table-striped list-container">
            <div class="list-group">
                @foreach (var transaction in Model.NotFixTransactions)
                {
                    <div class="list-group-item" style="position: relative">
                        <button class="btn btn-sm btn-primary btn-action"><i class="fa fa-check"></i></button>
                        <h5 class="list-group-item-heading">
                            <label class="label device-title">Laptop</label>
                            <a href="#" data-placement="bottom" data-toggle="tooltip" title="@transaction.Customer.Phone">@transaction.Customer.Name</a>
                            <hr class="seperator-device" />
                        </h5>
                        <div class="list-group-item-text">
                            <label class="label device-error">Error</label>
                            <ul>
                                <li><p>@transaction.Error</p></li>
                            </ul>

                            <label class="label device-description">Description</label>
                            <ul>
                                <li>
                                    <p>@transaction.DeviceDescription</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                }

                @*<div class="list-group-item" style="position: relative">
                    <button class="btn btn-sm btn-primary btn-action"><i class="fa fa-check"></i></button>
                    <h5 class="list-group-item-heading">
                        <label class="label device-title">Laptop</label>
                        <a href="#" data-placement="bottom" data-toggle="tooltip" title="02134343344">Anh Nam</a>
                        <hr class="seperator-device" />
                    </h5>
                    <div class="list-group-item-text">
                        <label class="label device-error">Error</label>
                        <ul>
                            <li><p>Mo may khong len </p></li>
                        </ul>

                        <label class="label device-description">Description</label>
                        <ul>
                            <li>
                                <p>Asus Mau Den</p>
                            </li>
                        </ul>

                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3>@Html.ActionLink("Fixed", "Index", "Device", new { statusId = 1 }, null) <span>(23)</span></h3>
        <div class="table table-condensed table-striped list-container">
            <div class="list-group">
                @foreach (var transaction in Model.FixedTransactions)
                {
                    <div class="list-group-item" style="position: relative">
                        <button class="btn btn-sm btn-success btn-action"><i class="fa fa-send"></i></button>
                        <h5 class="list-group-item-heading">
                            <label class="label device-title">Laptop</label>
                            <a href="#" data-placement="bottom" data-toggle="tooltip" title="@transaction.Customer.Phone">@transaction.Customer.Name</a>
                            <hr class="seperator-device" />
                        </h5>
                        <div class="list-group-item-text">
                            <label class="label device-price">Price</label>

                            <a data-toggle="collapse" data-target="#1-price">120.000 vnd</a>
                            <div id="1-price" class="collapse">
                                <ul>
                                    <li>Thay pin</li>
                                    <li>Cai lai window</li>
                                </ul>
                            </div>
                            <br />

                            <label class="label device-description">Description</label>
                            <ul>
                                <li>
                                    <p>@transaction.DeviceDescription</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                }

                @*<div class="list-group-item" style="position: relative">
                    <button class="btn btn-sm btn-success btn-action"><i class="fa fa-send"></i></button>
                    <h5 class="list-group-item-heading">
                        <label class="label device-title">Laptop</label>
                        <a href="#" data-placement="bottom" data-toggle="tooltip" title="02134343344">Anh Nam</a>
                        <hr class="seperator-device" />
                    </h5>
                    <div class="list-group-item-text">
                        <label class="label device-price">Price</label>

                        <a data-toggle="collapse" data-target="#2-price">120.000 vnd</a>
                        <div id="2-price" class="collapse">
                            <ul>
                                <li>Thay pin</li>
                                <li>Cai lai window</li>
                            </ul>
                        </div>
                        <br />

                        <label class="label device-description">Description</label>
                        <ul>
                            <li>
                                <p>Asus Mau Den</p>
                            </li>
                        </ul>

                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <h3>@Html.ActionLink("Cannot Fix", "Index", "Device", new { statusId = 2 }, null) <span>(23)</span></h3>
        <div class="table table-condensed table-striped list-container">
            <div class="list-group">
                @foreach (var transaction in Model.CannotFixTransactions)
                {
                    <div class="list-group-item" style="position: relative">
                        <button class="btn btn-sm btn-danger btn-action"><i class="fa fa-send"></i></button>
                        <h5 class="list-group-item-heading">
                            <label class="label device-title">Laptop</label>
                            <a href="#" data-placement="bottom" data-toggle="tooltip" title="@transaction.Customer.Phone">@transaction.Customer.Name</a>
                            <hr class="seperator-device" />
                        </h5>
                        <div class="list-group-item-text">
                            <label class="label device-description">Description</label>
                            <ul>
                                <li>
                                    <p>@transaction.DeviceDescription</p>
                                </li>
                            </ul>
                            <label class="label device-note">Note</label>
                            <ul>
                                <li>
                                    The fee is very high for fixing
                                </li>
                            </ul>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/MyScript/homescript.js"></script>
}
