@model htcustomer.service.ViewModel.CustomerViewModel

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">Customer Information</div>
            <div class="col-md-4 text-right">
                <button class="btn btn-sm btn-primary" data-open-form="false" data-target="#edit-customer-form" data-url=@Url.Action("UpdateCustomer","Contact") id="customer-submit-edit">
                    <i class="fa fa-edit"></i>&nbsp;Edit
                </button>
                <button class="btn btn-sm btn-danger" data-target="#edit-customer-form" data-url=@Url.Action("DisableCustomer","Contact") id="customer-submit-remove">
                    <i class="fa fa-remove"></i>&nbsp;Remove
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "edit-customer-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">
                @Html.HiddenFor(model => model.CustomerID)
                @Html.HiddenFor(model => model.Disable)
                <div class="form-group">
                    <i class="fa fa-2x fa-address-book"></i>&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", required = "required" } })
                </div>
                <div class="form-group">
                    <i class="fa fa-2x fa-flag"></i>&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fa fa-2x fa-phone"></i>&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Phone, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            disabled = "disabled",
                            required = "required",
                            pattern = "^[0-9]{10,12}$"
                        }
                    })
                </div>
                <div class="form-group">
                    <i class="fa fa-2x fa-address-book"></i>&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
        }
    </div>
</div>
