@model htcustomer.service.ViewModel.CustomerViewModel

@using (Html.BeginForm("AddCustomer", "Contact", FormMethod.Post, new { id = "new-customer-form" }))
{
    @Html.AntiForgeryToken()
    <div class="container form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        type = "phone",
                        required = "required",
                        pattern = "(09|01[2|6|8|9])+([0-9]{8})\\b",                                                  
                    }
                })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus"></i>&nbsp;Create
                </button>
            </div>
        </div>
    </div>
}
