@model IEnumerable<htcustomer.service.ViewModel.Transaction.TransactionViewModel>

<div class="panel panel-warning">
    <div class="panel-heading">Fixing &nbsp;<span class="badge">@Model.Count()</span></div>
    <div class="panel-body">        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Device</th>
                    <th>Error</th>
                    <th>Receive</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    <tr class="notfix-status">
                        <td>
                            <button class="btn btn-sm btn-success"><i class="fa fa-sm fa-check"></i></button>
                            <br /><br />
                            <button class="btn btn-sm btn-danger"><i class="fa fa-sm fa-recycle"></i></button>
                        </td>
                        <td>
                            <p>@transaction.Category</p>
                            <p>@transaction.Description</p>
                        </td>
                        <td>
                            <p>@transaction.Error</p>
                        </td>
                        <td>
                            @transaction.RecievedDate.Value.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

