@model htcustomer.service.ViewModel.Transaction.TransactionViewModel
<tr class="notfix-status">
    <td>
        <button class="btn btn-success" data-transaction-action="fix" data-toggle="popover" data-transaction-id="@Model.TransactionID" data-url=@Url.Action("GetBillForm", "Device")>
            <i class="fa fa-check"></i>
        </button>
        <br /><br />
        <button class="btn btn-danger" data-transaction-action="cannot-fix" data-toggle="popover" data-transaction-id="@Model.TransactionID" data-url=@Url.Action("GetReasonForm", "Device")>
            <i class="fa fa-stop"></i>
        </button>
    </td>
    <td>
        <p>@Model.Category.Name</p>
        <p>@Model.Description</p>
    </td>
    <td>
        <p>@Model.Error</p>
    </td>
    <td>
        @Model.RecievedDate.Value.ToString("dd/MM/yyyy")
    </td>
</tr>
