@model htcustomer.service.ViewModel.Contact.ContactDetailsViewModel
@{
    ViewBag.Title = "Contact";
}
@section styles {
    @Styles.Render("~/Content/css/contact")
}
<!-- Modal -->
<div id="new-customer-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Contact</h4>
            </div>
            @Html.Action("AddCustomer", "Contact")
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <form class="navbar-form" role="search" id="customer-search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="searchCustomer">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" data-url="@Url.Action("GetAddressBook","Contact")">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <div id="customer-search-result">
                <div id="loading-customer" class="customer-load-wrapper">
                    <img src="~/Content/Images/loading-sm.gif" class="loader-sm" />
                </div>
                @Html.Action("GetAddressBook", "Contact")
            </div>
        </div>
    </div>
</div>
<div class="col-md-9 panel">

    <div class="panel-heading">
        <button class="btn btn-primary" data-toggle="modal" data-target="#new-customer-modal" style="float:right;">
            <i class="fa fa-plus"></i> &nbsp New Contact
        </button>
    </div>
    <div class="panel-body">
        <div class="row" id="customer-wrapper">
            @if (Model == null || Model.Customer == null)
            {
                <h4 class="alert alert-warning"><i class="fa fa-warning"></i> &nbsp;There are no customer was Selected</h4>
            }
            else
            {
                <div class="customer-info">
                    @Html.Partial("_CustomerInformation", Model.Customer)
                </div>
                <div class="transaction-info">
                    @Html.Partial("_WaitingDeliver", Model.WaitingDeliver)
                    @Html.Partial("_NotFixTransaction", Model.NotFixTransaction)
                    @Html.Partial("_DeliveredTransaction", Model.DeliveredTransaction)
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/MyScript/contact/contact.js"></script>
}