@model IEnumerable<htcustomer.service.ViewModel.Transaction.TransactionViewModel>

<div class="panel">
    <div class="panel-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Device</th>
                    <th>Error</th>
                    <th>Customer</th>
                    <th>Contact</th>
                    <th>Received Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5">
                            <h4 class="alert alert-warning"><i class="fa fa-warning"></i> &nbsp;There are no transaction</h4>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var transaction in Model)
                    {
                        <tr id="transaction-detail-@transaction.TransactionID">
                            <td>
                                <button class="btn btn-success btn-deliver-transaction" data-url="@Url.Action("DeliverTransaction","Device", new {transactionId = transaction.TransactionID })" data-id="@transaction.TransactionID"><i class="fa fa-send"></i></button>
                            </td>
                            <td>
                                <p>@transaction.Category.Name</p>
                                <p>@transaction.Description</p>
                            </td>
                            <td>
                                @transaction.Error
                            </td>
                            <td>
                                <p>@transaction.Customer.Name</p>
                            </td>
                            <td>
                                <p>@transaction.Customer.Phone</p>
                            </td>
                            <td>
                                @transaction.RecievedDate
                            </td>
                            <td>
                                <p><b>@transaction.Price,000 vnd</b></p>
                                @Html.Partial("_DetailPriceTransaction", transaction.ListPriceDetail)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


