@model IEnumerable<htcustomer.service.ViewModel.Transaction.TransactionViewModel>

<div class="panel">
    <div class="panel-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Device</th>
                    <th>Error</th>
                    <th>Customer</th>
                    <th>Contact</th>
                    <th>Received Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5">
                            <h4 class="alert alert-warning"><i class="fa fa-warning"></i> &nbsp;There are no transaction</h4>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var transaction in Model)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-success" data-toggle="popover" id="btn-open-popover" data-transaction-id="@transaction.TransactionID" data-url=@Url.Action("GetBillForm", "Device")><i class="fa fa-check"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-stop"></i></button>
                            </td>
                            <td>
                                <p>@transaction.Category.Name </p>
                                <p>@transaction.Description</p>
                            </td>
                            <td>
                                @transaction.Error
                            </td>
                            <td>
                                <p>@transaction.Customer.Name</p>
                            </td>
                            <td>
                                <p>@transaction.Customer.Phone</p>
                            </td>
                            <td>
                                @transaction.RecievedDate
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




